html,
body {
  font-family: sans-serif;
  background-color: whitesmoke;
}
.Brands {
  text-align: center;
}
#matt {
  background-color: white;
}

.img1 {
  height: 80px;
  width: 100px;
}
